$variables: (
  // table-header-height: 40px,
  button-height: 100px,
  font-size-root: 2rem,
  typography: (
    "subtitle-2": (
      "weight": 700,
    ),
    "body-2": (
      "weight": 700,
    ),
  )
);
